.form-center-wrapper {
    margin: auto;
    width: 100%;
    max-width: 400px;
}

.title {
    font-size: 58px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 8px;
    letter-spacing: -2px;
    color: #000;
}

.subtitle {
    font-size: 18px;
    color: #666;
    text-align: center;
    margin-bottom: 32px;
}

.form-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
}

.input-wrap input {
    width: 100%;
    padding: 16px 20px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    font-size: 16px;
    background-color: #fff;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.2s;
}

.input-wrap input:focus {
    border-color: #2563eb;
}


.error-border {
    border-color: #ff4d4f !important;
}

.error-message {
    color: #ff4d4f;
    font-size: 12px;
    margin-top: 4px;
    padding-left: 4px;
    font-weight: 500;
}

.eye-toggle {
    position: absolute;
    right: 15px;
    top: 27px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
    display: flex;
    align-items: center;
}

.submit-button {
    background-color: #2563eb;
    color: white;
    padding: 18px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 8px;
}

.submit-button:hover {
    background-color: #1d4ed8;
}


.login-link {
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
    color: #666;
}

.login-link a {
    color: #2563eb;
    text-decoration: none;
    font-weight: 500;
}