.moreUsefulResources {
    padding: 80px 20px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.sectionTitle {
    font-size: 18px;
    font-weight: 600;
    color: #4b5563;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 60px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.card {
    background-color: #f3f4f6;
    padding: 0 40px;
    border-radius: 12px;
    text-align: left;
    cursor: pointer;
}

.cardTitle {
    font-size: 24px;
    font-weight: 900;
    color: #000;
    margin-bottom: 12px;
}

.cardDesc {
    font-size: 16px;
    color: #676767;
    line-height: 1.5;
}