.trustedSection {
    padding: 100px 40px 0;
    text-align: center;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
}

.title {
    font-size: 17px;
    font-weight: 600;
    color: #676767;
    letter-spacing: 1px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.logoRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.logoWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 35px;
}

.logo {
    max-width: 100%;
    height: auto;
    max-height: 30px;
    object-fit: contain;
}