.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding: 100px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.infoText {
    flex: 1;
    font-size: 22px;
    line-height: 1.4;
    color: #000;
    font-weight: 500;
}

.card {
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 20px;
    width: 450px;
    cursor: pointer;

    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;

    outline: 2px solid transparent;
    outline-offset: -2px;

}

.card:hover {
    transform: scale(1.03);
    outline: 2px solid #e0e0e0;
}


.badge {
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 25px;
    letter-spacing: 1px;
}



.cardContent {
    display: flex;
    gap: 20px;
}


.leftColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.colorPreview {
    width: 75px;
    height: 75px;
    border-radius: 12px;
}

.hexValue {
    font-size: 16px;
    font-weight: 600;
}


.colorDetails h3 {
    font-size: 24px;
    font-weight: 800;
    margin: 0 0 8px 0;
}

.colorDetails p {
    font-size: 14px;
    color: #666;
    margin: 0 0 15px 0;
    line-height: 1.4;
}