.ourToolsSection {
    padding: 50px 40px 0;
    text-align: center;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
}




.title {
    font-size: 17px;
    font-weight: 600;
    color: #676767;
    letter-spacing: 1px;
    margin-bottom: 40px;
    text-transform: uppercase;
}


.btnsContainer {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 75px;
}


.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    border: 1px solid #b3b3b3;

    border-radius: 10px;


    color: #000;
    /* padding: 20px 120px; */

    height: 65px;
    width: 325px;



    border-radius: 10px;
    font-size: 2rem;
    font-weight: 900;
    cursor: pointer;
    text-decoration: none;

}



.rgbTitle {
    font-size: 6rem;
    font-weight: 400;
    line-height: 0.9;
    letter-spacing: 5px;
    margin: 0 auto;
    width: 60%;
}