.footer {
    background-color: #fff;
    border-top: 1px solid #eee;
    padding: 60px 0 30px 0;
    font-family: 'Inter', sans-serif;
    margin-top: 100px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.topSection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.column h3 {
    font-size: 14px;
    font-weight: 500;
    color: #777;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.column ul li {
    font-size: 14px;
    margin-bottom: 12px;
    cursor: pointer;
}


.bottomSection {
    padding-top: 30px;
    border-top: 1px solid #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    font-size: 13px;
}

.copyright strong {
    font-weight: 600;
}

.bottomActions {
    display: flex;
    align-items: center;
    gap: 30px;
}

.language {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}



.socials {
    display: flex;
    gap: 15px;
    cursor: pointer;
}
